<div class="card">
  <div class="card-body">

    <div class="float-right my-2">
      <button class="btn btn btn-outline-danger" (click)="openCrearNoticia()">Crear Programa</button>
    </div>

    <table class="table table-light font-16 lead">

      <thead class="bg-danger text-white">
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">Titulo</th>
        <th class="text-center">Imagen</th>
        <th class="text-center">Estado</th>
        <th class="text-center">Opciones</th>
      </tr>
      </thead>

      <tbody class="font-14">
      <tr *ngFor="let programa of programas, let i=index">
        <td class="text-center">{{i + 1}}</td>
        <td class="text-center">{{programa.titulo}}</td>
        <td class="text-center">{{programa.portada}}</td>
        <td class="text-center">
          <span class="badge" [ngClass]="{'badge-success':programa.estado===1,'badge-danger':programa.estado!==1}">
            {{programa.estado === 1 ? 'Disponible' : 'No Disponible'}}
          </span>
        </td>

        <td class="text-center">
          <div class="btn-group">
            <button class="btn btn-outline-info" (click)="openModificarPrograma(programa)">
              <i class="fa fa-edit"></i>
            </button>
            <button class="btn btn-outline-success" (click)="openModificarImagen(programa)">
              <i class="fa fa-image"></i>
            </button>
            <button class="btn btn-outline-danger" (click)="eliminarPrograma(programa._id)">
              <i class="fa fa-trash"></i>
            </button>

            <button
              class="btn ml-1"
              [ngClass]="{'btn-outline-danger':programa.estado===1,'btn-outline-success':programa.estado!==1}"
              (click)="updateStatusPrograma(programa)">
              <i class="fa" [ngClass]="{'fa-times':programa.estado===1,'fa-check':programa.estado!==1}"></i>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

  </div>

</div>
