<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="user-profile">
          <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img
            src="./assets/images/users/profile.png" alt="user"/><span class="hide-menu">Steave Jobs </span></a>
          <ul aria-expanded="false" class="collapse">
            <li>My Profile</li>
            <li>My Balance</li>
            <li>Inbox</li>
            <li>Account Setting</li>
            <li>Logout</li>
          </ul>
        </li>
        <li class="nav-devider"></li>
        <li class="nav-small-cap">PANEL ADMIN</li>

        <li routerLinkActive="active selected">
          <a routerLink="dashboard" class="waves-effect waves-dark" href="#"><i class="mdi mdi-gauge"></i><span
            class="hide-menu">Dashboard</span></a>
        </li>

        <li routerLinkActive="active selected">
          <a routerLink="configuration" class="waves-effect waves-dark" href="#"><i class="mdi mdi-settings"></i><span
            class="hide-menu">Configuracion</span></a>
        </li>

        <li routerLinkActive="active selected">
          <a routerLink="menus" class="waves-effect waves-dark" href="#"><i
            class="mdi mdi-folder-multiple-image"></i><span
            class="hide-menu">Menus</span></a>
        </li>

        <li routerLinkActive="active selected">
          <a routerLink="noticias" class="waves-effect waves-dark">
            <i class="mdi mdi-comment-processing"></i>
            <span class="hide-menu">Noticias</span>
          </a>
        </li>

        <li routerLinkActive="active selected">
          <a routerLink="programas" class="waves-effect waves-dark">
            <i class="mdi mdi-comment-processing"></i>
            <span class="hide-menu">Programas</span>
          </a>
        </li>

      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
